*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
.form{
    margin: 40px;
    width: 330px;
    box-shadow: 0 2.47px 4.99px 0 gainsboro;
}
.form:hover{
    box-shadow: 0 3.47px 5.99px 0 gainsboro;
}
h4{
    text-align: end;
    margin-right: 20px;
    line-height: 40px;
}
.style{
    padding: 12px;
    border: none;

}
.droplist{
    width: 290px;
    height: 250px;
    z-index: 1;
    overflow-y: scroll;
}
.height{
    height: 250px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.totalanddiscount{
    line-height: 70px;
}
.line-through{
    font-size: 14px;
    text-decoration-line: line-through;
}
.discount-p{
    background-color: #3a5;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* button */
::-webkit-scrollbar-button {
    background: #222; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #333; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
    /* background: #3a5;  */
}
/* Track */
::-webkit-scrollbar-track {
    background: #000; 
}
::-webkit-scrollbar-corner {
    background: #999; 
}
/* Resizer */
::-webkit-resizer {
    background: #111; 
}